{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
                com.datomic/datomic-free {:mvn/version "0.9.5697"}}
 :aliases {:test {:extra-paths ["test"]
                  :exec-fn friend-relationship-test/run-tests}}}