{
    :deps {
      com.datomic/datomic-free {:mvn/version "0.9.5697"}
    },
    :mvn/repos {
      "my.datomic.com" {:url "https://my.datomic.com/repo"}
    },
    :aliases {
      :test {
        :extra-paths ["test"]
        :exec-fn people-relationship-test/-main
      }
    }
  }